# Python virtual environment
.venv
venv/
env/
ENV/
bin/
include/
lib/
lib64
pyvenv.cfg

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Docker
*.log

#Terraform
terraform/gcp-monitoring/terraform.tfvars
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json
!example.tfvars