global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: "prometheus"

    static_configs:
      - targets: ["localhost:9090"]
        labels:
          service: "prometheus"

  - job_name: "node-exporter"

    static_configs:
     - targets: ["node-exporter:9100"]
       labels:
         service: "node-exporter"

  - job_name: "flask-app"

    static_configs:
      - targets: ["flask-app:5000"]
        labels:
          service: "flask-app"
          environment: "demo"
